:root {
  --fondo: #0d0d0d;
  --gris: #1a1a1a;
  --primario: #ff007f;
  --primario-opacity: #ff007f88;
  --texto-claro: #cccccc;
  --blanco: #ffffff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: var(--fondo);
  color: var(--blanco);
  font-family: 'Segoe UI', sans-serif;
}

/* ======== Hero Section ======== */
h1,
h2 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  border-radius: 50px;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primario-opacity);
}

/* ======== Card (Proyectos) ======== */
.card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 0, 127, 0.15);
}

.card-title {
  color: var(--blanco);
  font-weight: bold;
  font-size: 1.2rem;
}

.badge {
  margin-right: 5px;
  background-color: var(--gris);
  border: 1px solid var(--primario);
  color: var(--primario);
  font-size: 0.8rem;
}

/* ======== Imagen de perfil ======== */
img.rounded-circle {
  box-shadow: 0 0 10px rgba(255, 0, 127, 0.3);
}

/* ======== Contacto ======== */
section#contacto a.btn-outline-light:hover {
  background-color: var(--primario);
  color: var(--blanco);
  border-color: var(--primario);
}

/* ======== Animaciones con AOS ======== */
[data-aos] {
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.6s;
}

/* ======== Media Queries (responsive) ======== */
@media (max-width: 768px) {
  .btn {
    padding: 10px 20px;
  }

  .card {
    margin-bottom: 20px;
  }
}

.btn-personalizado {
  background-color:var(--primario);
  color: var(--blanco);
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  border-radius: 999px;
  margin-right: 8px;
  margin-top: 8px;
  display: inline-block;
}


#fortalezas {
  padding: 4rem 2rem;
  text-align: center;
}

#fortalezas h2 {
  color: var(--secundario);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.fortalezas-grid {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.fortaleza {
  background-color: var(--gris);
  border: 1px solid var(--primario);
  padding: 1.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.fortaleza:hover {
  transform: translateY(-5px);
}

.fortaleza span {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1rem;
  color: var(--secundario);
}

.fortaleza h3 {
  color: #ff007f;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.fortaleza p {
  font-size: 2rem;
  color: var(--texto-claro);
}


footer {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}
